.head {
  width: 100%;
  padding: 20px 60px;
  border-radius: 12px;
  background: #e8ecfc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subject {
  font-size: 22px;
  font-weight: 700;
  line-height: 100%;
  color: rgba(4, 2, 112, 1);
}
.date {
  font-size: 20px;
  line-height: 100%;
  font-weight: 500;
  color: rgba(52, 64, 231, 1);
}
